*{
    box-sizing: border-box;
    font-family: Helvetica;
}

body, p, ul, h1, .headerContainer{
    margin: 0;
    padding: 0;
}
a{
    color: black;
    text-decoration: none;
}
a:hover{
    color: blue;
}
nav, .headerContainer{
    display: table;
    width: 100%;
}
.headerItem, .navA{
    display: table-cell;
    vertical-align: middle;
}
.menu, .logo{
    width: 100%;
}
.nav{
    background-color: rgba(41,171,226,0.5);
    margin: 0 auto;
    height: 55px;
}
.header{
    text-align: center;
}
.headerItem{
    width: 33%;
    font-size: 20px;
}
.logo{
    margin: 25px 0;
}

.navA{
    font-size: 20px;
    width: 25%;
    border-right: 1px solid rgba(0,0,0,.2);
}

.content{
    text-align: center;
    background-color: rgba(41,171,226,0.5);
}
.main{
    width:100%;
    display: table;
    margin-top: 105px;
    text-align: center;
}
.leftMain, .rightMain{
    display: table-cell;
    vertical-align: middle;
    background-color: white;
    /*width: 50%;.*/
}
h1.iMidItem{
    padding-bottom: 25px;
}
span.iMidItem{
    width: 100%;
}
.img1{
    width: 50%;
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
    /* For mobile phones: */
    [class*="col-"] {
        width: 100%;
    }

    *{
        box-sizing: border-box;
    }
    body{
        margin: 0;
    }
    .menu{}

    .white_section{
        width: 480px;
        height: 150px;
        background-color: rgba(255,255,255,1);
    }
    .blue_section{
        width: 480px;
        height: 150px;
        background-color: rgba(0,89,207,.7)
    }

}
