/********************************/
/********************************/
/********* Index Styling ********/
/********************************/
/********************************/
.bodyStyling{
    /*color: white;*/
    margin: 0;
/*width: 100%;
height: 100%;
background-color: #fbfaf9;
font-size: 15px;
background-size: auto;
line-height: 160%;
position: relative;*/
}
#pageContainer{
    /*overflow: hidden;
    position: relative;
    width: 100%;*/
    /*background-color: rgba(68, 73, 84, 1)*/
}
/****************/
/* Main Div Top*/
/****************/
.mainDivStyles{
    width: 100%;
}
#mainDivTop{
    /*background-color: blue;
    margin-left: 15px;
    margin-right: 15px;
    height: 155px;*/
}
#subTopNav{
    height: 40px;
    /*z-index: 1;*/
    /*position: fixed;*/
    /*
    background-color: black;
    width: 100%;
    opacity: 0.5;
    border: black 1px solid;*/
}
#mainNav{
    height: inherit;
    width: auto;
    background-color: rgba(232, 37, 0, 1);
}
.navUlStyling{
    margin: 0;
    list-style: none;
    display: table;
    padding-left: 0;
    height: inherit;
    position: relative;
    left: 85px;
}
.navUl2{
    position: relative;
    display: inline-block;
    right: 0;
    padding-left: 0;
    margin: 0;
    width: 298px;
}
.navLiStyling{
    display: table-cell;
    background-color: rgba(68, 73, 84, 1);
    color: white;
    vertical-align: middle;
    height: inherit;
    padding: 0 15px 0 15px;
    font-size: 18px;
    letter-spacing: 1px;
}
#navAddress{
    display: block;
    height: inherit;
    float: right;
    position: relative;
}
#navAddressP{
    margin: 0;
}
div#subTopTitle{
    height: 125px;
    display: flex;
    letter-spacing: 1px;
}
div#subTopTitleName{
    width: 512px;
    vertical-align: middle;
    position: relative;
    margin: 0;
    display: block;
}
h1#headerCompanyName{
    margin: 0;
    position: relative;
    top: 40px;
    text-align: center;
}
div#subTopTitleInfo{
    width: 512px;
    vertical-align: middle;
    position: relative;
    margin: 0;
    display: block;
    /*height: inherit;*/
}
h1#headerCompanyDetails{
    text-align: center;
    margin: 0;
    top: 40px;
    position: relative;
}
#subTopImg{
    width: 100%;
}

#topImg{
    width: 100%;
    height: 334px;
}

/****************/
/* Main Div Mid*/
/****************/
#mainDivMid{
    height: 300px;
    /*background-color: red;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;*/

}
#subMidInfo{
    width: 630px;
}
#subMidDetails{
    width: 630px;
}

/****************/
/* Main Div Bot*/
/****************/
#mainDivBot{
    height: 300px;
    /*background-color: blue;
    margin-left: 15px;
    margin-right: 15px;
    position: relative;*/
    background-color: rgba(68, 73, 84, 1)
}
.footerStyle{
    /*background: blue;
    width: 100%;
    z-index: 1;*/
    height: inherit;
}
#subBotFooter{
    /*background-color: black;*/
    height: inherit;
    /*margin-left: 67px;
    margin-right: 67px;*/
    /*z-index: 1;*/
}
