/*CSS Style Sheet*/

/* For mobile phones: */
[class*="col-"] {
    width: 100%;
}
@media only screen and (min-width: 768px) {
     /*For desktop: */
    .col-1 {width: 8.33%;}
    .col-2 {width: 16.66%;}
    .col-3 {width: 25%;}
    .col-4 {width: 33%;}
    .col-5 {width: 41.66%;}
    .col-6 {width: 50%;}
    .col-7 {width: 58.33%;}
    .col-8 {width: 66.66%;}
    .col-9 {width: 75%;}
    .col-10 {width: 83.33%;}
    .col-11 {width: 91.66%;}
    .col-12 {width: 100%;}
}

@media only screen and (max-width:768px) {
    * {
    box-sizing: border-box;
    }

    body{
        margin: 0;
        /*background-color: black;*/
    }

    #headerDiv{
        background-color: #E3CDA4;
        width: 100%;
        height: 100%;
    }

        .subHeader{
            display: inline-block;
            /*border: 1px solid black;*/
            height: 100px;
        }

        div#leftHeaderDiv{
            display: none;
        }

        div#midHeaderDiv{
            text-align: center;
        }
        /*span#CoName{
            font-size: 24px;
            position: relative;
            top: 20px;
        }
        span#CoNumb{
            position: relative;
            top: 20px;

        }*/

        div#rightHeaderDiv{
            float: right;
            display: none;
        }

        span#spanBtn{
            /*left: 0;*/
            background-color: rgba(0,0,0,.7);
            border-radius: 2px;
            width: 30px;
            height: 25px;
            display: inline-block;
            text-align: center;
        }

    /*#menuButton{
        padding-top: 4px;
        text-align: center;
        background-color: grey;
        width: 42px;
        height: 50px;
        border-radius: 6px;
        position: fixed;
        display: inline-block;
        right: 0;
        top: 0;
    }*/
    #menuWrapper{
        height: inherit;
        width: 100%;
        background-color: rgba(0, 0, 0, .7);
        display: none;

    }

    #slideIn{
        transition: left ease-in 3s;
        height: inherit;
        display: block;
        z-index: 1;
    }

    #midDiv{
        background-color: #7E827A;
    }

    footer#footer{
        background-color: #7E827A;
    }

    div#socialMediaLinks{
        text-align: center;
    }

}

#menuWrapper{
    /*visibility: hidden;*/
}
